@charset "UTF-8";


/*typical divice break points

celular: 320px - 480px
tablets: 481px — 768px
laptops: 769px — 1024px
desktops: 1025px — 1200px
tvs: acima de 1200px

*/

@media screen and (min-width: 768px) {
    span#burguer {
        display: none;
    }

    menu {
        display: block;
        margin-left: 10px;
    }

    menu > ul > li {
        display: inline-block;
    }

    main {
        width: 768px;
    }

    article > img {
        width: 40%;
    }
}

@media screen and (min-width: 1024px) {

    menu > ul > li {
        display: inline-block;
        margin-left: 25px;
    }
}